body {
  font-family: sans-serif;
}

.character-icon img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 10px;
}

.tooltip {
  display: none;
  position: absolute;
  background: #ffffffdd;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
  pointer-events: none;
}
