body {
  font-family: sans-serif;
}

.character-icon img {
  width: 64px;
  height: 64px;
  border-radius: 0;
  margin: 10px;
  object-fit: cover;
}

.tooltip {
  display: none;
  position: absolute;
  background: #fefefe;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
}

